<div class="card">
  <h5 class="card-header">Add New Friend</h5>
  <div class="card-body">
    <br/>
    <%= render "form", friend: @friend %>

    <br>

    <div>
      <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
    </div>
  </div>
</div>
